	<div class="row">
		<div class="col-sm-8">
			<div class="form-group"  style="width: 100%;">
				<label>Office</label>
				 <%= f.text_field :name, :class=> 'form-control' %>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label>Salary</label>
				 <%= f.number_field :salary, :class=> 'form-control'  %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label>Next Debate</label>
				 <%= f.date_field :next_debate, :class=> 'form-control' %>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label>Election Date</label>
				 <%= f.date_field :election_date, :class=> 'form-control' %>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label>Incumbent</label>
				 <%= f.text_field :incumbent, :class=> 'form-control' %>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label>Previously Held By</label>
				 <%= f.text_field :previously_held_by, :class=> 'form-control' %>
			</div>
		</div>
	</div>			
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label>Republican Nominee</label>
				 <%= f.text_field :republican_nominee, :class=> 'form-control' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div class="form-group" style="width: 100%;">
				<label>Republican's Running</label>
				<%= f.text_field :repubs_runnings, :class=> 'form-control' %>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label># Running</label>
				 <%= f.number_field :num_of_repubs, :class=> 'form-control' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group" style="width: 100%;">
				<label>State</label>
				 <%= f.select :state, [
<<<<<<< HEAD
	"", "Alabama", "Alaska", "American Samoa", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Guam", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Minor" "Outlying" "Islands", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Northern Mariana Islands", "Ohio", "Oklahoma", "Oregon, Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "U.S. Virgin Islands", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
=======
	" ", "Alabama", "Alaska", "American Samoa", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Guam", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Minor" "Outlying" "Islands", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Northern Mariana Islands", "Ohio", "Oklahoma", "Oregon, Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "U.S. Virgin Islands", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
>>>>>>> 2a708a80e735487023325fd225e557bcbc8660a2
				 ], {}, { class: "form-control" } %>
		</div>
		<div class="col-sm-4">
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group" style="width: 100%;">
					    <%= f.label :avatar %>
    					<%= f.file_field :avatar %>
				</div>
			</div>
		</div>
	</div>
    <br><br>
			

