<!DOCTYPE html>
<html>
  <head>
    <title>PolitiScale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- JS file -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>

<!-- CSS file -->
<link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">

  </head>

  <body>
    <%= yield %>
<div id="modal-holder"></div>
    
  </body>
</html>
